<h1>¡Describiendo a Simón!</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Caracteristica</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @params_query.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
